body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

h1 {
    font-size: 50px;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

a{  background-color:lightgray;
    text-decoration: none;
    color : black;
    margin-left: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color:white;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgb(0, 0, 0);
  padding: 50px;
  text-align: center;

}
.na2{
    text-align: center;
    margin-top: 40px;
}
